
.eka table {
	border-style: solid;
    border-width: 2px;
    border-color: #bdc3c7;
    -webkit-transition: border-color 0.5s ease-in-out;
    transition: border-color 0.5s ease-in-out;
    border-radius: 3px;
    padding: 20px;
    outline: none;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: normal;
    font-size: 1em;
}


thead .text {
    background: linear-gradient(#43a2ca,#14415f);
    border-top: 1px solid #33739e;
    border-bottom: 2px solid #091c29;
    color: white!important;
	text-align:center;
}


.eka th {
	padding:6px;
	border:1px solid #bdc3c7;
}
.eka td {
	padding:6px;
	border:1px solid #bdc3c7;
	text-align:right!important;
}

.eka tbody {
	color:#434348;
}

.highcharts-title{
	color:green!important;
	fill:green!important;
}

.eka .highcharts-table-caption {
	display:none!important;
}
